.nav-custom{
  height: 50px;
  .logo-navbar{
    width: 50px;
    height: 50px;
  }
  .signup-link{
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
  .brand-name{
    margin-left: -10px;
  }
}
